/* 
body{
  background-color: var(--bg-black-color);
} */
.App {
  text-align: center;
  background-color: var(--bg-black-color);
  color: var(--app-color);
  /* max-content */
  /* height: 100vh; */
  max-height: -webkit-fill-available;
  background-image: url('https://i.pinimg.com/564x/eb/da/2c/ebda2c65018813a0e7516cfac22dcb95.jpg');
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.App .game-header {
  height: 65px;
}

.App .offcanvas {
  background-color: var(--bg-black-color);
  color: var(--app-color);
}

/* .App .offcanvas-body a{
  color: var(--app-color);
} */
.App .nav-link {
  color: var(--navbar-color);
}

.App .nav-link.active {
  color: var(--navbar-active-color);
}

.App .offcanvas-body li:hover {
  background-color: var(--hover-color);
}

.App .navbar {
  border-bottom: 1px solid var(--cube-border);
  padding: 0;
  height: 65px;
}

.App .navbar-toggler {
  color: whitesmoke;
}

.App .navbar-brand {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.01em;
  padding: 0;
  color: whitesmoke;
}

@media (max-width: 992px) {
  .App .navbar-brand {
    font-size: 28px;
  }
}

.dismiss-button {
  border: 0;
  font-size: 1.2em;
  background-color: var(--modal-content-bg);
  color: var(--app-color);
  border-color: var(--modal-content-bg);
}

.side-buttons .side-buttons-icons {
  letter-spacing: 2em;
  cursor: pointer;
  color: whitesmoke;
  background-color: transparent;
  /* border-color: var(--bg-black-color); */
  border: 0;
}

.navbar-brand {
  margin-left: 9%;
}

.game-body {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 5%;
  /* height: calc(100% - 65px); */
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.board-row {
  /* gap:5px;
  margin-top: 5px; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;

}

.cube {
  /* background-color: var(--bg-black-color);
  width: 100%;
  display: inline-flex;
  width: 2em;
  height: 2em;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-sizing: border-box;
  border: 2px solid var(--cube-border);
  vertical-align: middle;
  width: 100%; */
  background-color: var(--bg-black-color);
  border: 2px solid var(--cube-border);
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: var(--app-color);
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.Keyboard-module {
  height: 200px;
  /* margin: 0 8px; */

  background-color: var(--bg-black-color);
  /* border: 1px solid red; */
}

.Keyboard-module .keyboard-button:focus {
  border: solid 1px #00c;
}

.Keyboard-module .keyboard-button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0 3px 0 3px;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--key-bg);
  color: var(--app-color);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

.first-row,
.second-row,
.third-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.flex-div {
  flex: 0.5;
}

.modal-content {
  background-color: var(--bg-black-color);
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.settings-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-tone-4);
  padding: 16px 0;
}

.settings-options-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings-options-texts small {
  /* font-size: 12px; */
  color: var(--color-tone-2);
}

.settings-options-side {
  color: var(--color-tone-2);
}

small {
  font-size: 0.7em;
  color: var(--color-tone-2);
}

.how-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  font-family: serif;
}

.how-options h3 {
  font-weight: 800;
  font-family: sans-serif;
}

.how-options h5 {
  font-weight: unset;
}

.how-footer {
  text-align: start;
  margin-top: 1em;
}

.how-footer a {
  text-decoration: none;
}

.examples {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

.exm {
  line-height: 1;
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 1.4rem;
  text-align: center;
  line-height: normal;
}

.how-row {
  display: flex;
  grid-gap: 5px;
}

.correct {
  background-color: var(--color-correct);
}

.present {
  background-color: var(--color-present);
}

.absent {
  background-color: var(--color-absent);
}

/* #settings-modal .modal-footer{
  justify-content: center;
} */

.statistics-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  border-bottom: 1px solid var(--color-tone-4);
  font-family: serif;
  align-items: center;
}

.stats-boxes {
  display: flex;
  grid-gap: 5px;
}

.stats-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 12px;
}

.stats-num {
  font-size: 34px;
  font-weight: 400;
}

.stats-footer {
  display: flex;

  width: 100%;
  justify-content: space-between;
}

.stats-footer .button {
  border-radius: 105px;
  width: calc(50% - 5px);
  line-height: 25px;
  border-width: 0;
  font-size: 14px;
  font-weight: 600;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.stats-footer .share:focus {
  background-color: var(--color-correct);
}

.spellingBeeYellow {
  background-color: var(--spellingBeeYellow);
  color: black;
}

.spellingBeeYellow:focus {
  background-color: var(--spellingBeeYellow);
}

#statistics-modal .modal-title {
  letter-spacing: 0.05em;
}

.color-blind {}


.App .cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: rgb(226, 226, 238);
  border-radius: 80px;
}

.App .cell p {
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.column1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
  margin-top: 50px;
}

.column1 .row1 {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 30px;
  justify-content: center;
}

.column1 .row1 label {
  color: whitesmoke;
  margin-right: 10px;
  font-weight: 500;
  font-size: 24px;
}

.game-body .txtContent {
  font-size: 24px;
  font-weight: bold;
  color: rgb(226, 226, 238);
}

.btn-submit{
  margin-top: 50px;
  width: 20%;
  align-self: center;
  border-radius: 10px;
  font-size: 24px;
  margin-left: 55px;
  background-color: green;
  color: white;
}